/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* commons */
body{
    background-color: white;
    font-family: 'Fredoka', sans-serif;
}

h1{
    text-align: center;
    color: #e53170;
    margin-top: 15px;
    margin-bottom: 35px;
}

.intro{
    text-align: center;
    color: #0f0e17;
    margin-bottom: 35px;
}

/* layout */
.container{
    width: 60%;
    margin: auto;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.item{
    background-color: #0f0e17;
    width: 30%;
    color: white;
}

img{
   width: 80px;
}